<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/adminrf_styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Panel de Administración - Hotel</title>
</head>
<body>
    <img src="{% static 'img/reffbook_logo.png' %}" alt="Reffbook Logo" class="logo">

    <div class="header">
        <h1 class="display-4">Bienvenido, Administrador</h1>
        <p class="lead">Panel de administración para la gestión de las operaciones del hotel.</p>
    </div>

    <div class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
                <a href="{% url 'adminrf_habitacion_list' %}" class="btn btn-custom btn-lg btn-block">
                    <i class="fas fa-bed"></i>
                    Administrar Habitaciones
                </a>
            </div>

            <div class="col-md-8 mb-3">
                <a href="{% url 'adminrf_reserva_list' %}" class="btn btn-custom btn-lg btn-block">
                    <i class="fas fa-calendar-alt"></i>
                    Administrar Reservas
                </a>
            </div>

            <div class="col-md-8 mb-3">
                <a href="{% url 'adminrf_empleado_list' %}" class="btn btn-custom btn-lg btn-block">
                    <i class="fas fa-users"></i>
                    Administrar Empleados
                </a>
            </div>

            <div class="col-md-8 mb-3">
                <a href="{% url 'adminrf_cliente_list' %}" class="btn btn-custom btn-lg btn-block">
                    <i class="fas fa-user"></i>
                    Administrar Clientes
                </a>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>