{% extends 'base.html' %}
{% load static %}

{% block title %}
    Mi Perfil - Reffbook
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Mi Perfil</h2>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Información del Usuario</h5>
                <p><strong>Nombre:</strong> {{ usuario.get_full_name }}</p>
                <p><strong>Correo Electrónico:</strong> {{ usuario.email }}</p>
                <p><strong>Fecha de Registro:</strong> {{ usuario.date_joined|date:"d/m/Y" }}</p>
            </div>
        </div>

        <div class="mt-4">
            <h5 class="card-title">Última Reserva</h5>
            {% if ultima_reserva %}
                <div class="card">
                    <div class="card-body">
                        <p><strong>Número de Habitación:</strong> {{ ultima_reserva.habitacion.habitacion_numero }}</p>
                        <p><strong>Fecha de Inicio:</strong> {{ ultima_reserva.reserva_fecha_inicio|date:"d/m/Y" }}</p>
                        <p><strong>Fecha de Fin:</strong> {{ ultima_reserva.reserva_fecha_fin|date:"d/m/Y" }}</p>
                        <p><strong>Estado:</strong> {{ ultima_reserva.reserva_estado }}</p>
                    </div>
                </div>
            {% else %}
                <p>No tienes reservas activas.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
