body {
    background-color: #e9ecef;
}

.card-custom {
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
}

.btn-custom {
    padding: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c3a4d;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #085469;
    color: white;
}

.btn-custom i {
    font-size: 3rem;
    margin-bottom: 10px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

.header {
    background-color: #0c3a4d;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

