/* Definir el color de fondo para toda la aplicación */
body {
    background-color: #0c3a4d; /* Color de fondo que quieres usar */
    color: white; /* Cambia el color del texto para que sea legible en el fondo oscuro */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
.container {
    margin-top: 20px;
}

/* Estilos para el contenido de las tarjetas */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    margin-bottom: 30px;
}

.card img {
    border-radius: 10px 10px 0 0;
}

/* Estilo para el botón principal de reserva */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilos para el modal */
.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-footer .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.modal-footer .btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Estilos del footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

input, select, textarea {
    background-color: white;
    color: #0c3a4d;
}

.card, .modal-content {
    background-color: #f8f9fa;
    color: black;
}